[submodule "vendor/ASMC"]
	path = vendor/ASMC
	url = https://github.com/PalamaraLab/ASMC.git
[submodule "vendor/eSMC2"]
	path = vendor/eSMC2
	url = https://github.com/TPPSellinger/eSMC2.git
	ignore = untracked
[submodule "vendor/MSMC-IM"]
	path = vendor/MSMC-IM
	url = https://github.com/wangke16/MSMC-IM.git
	ignore = untracked
[submodule "vendor/psmc"]
	path = vendor/psmc
	url = https://github.com/lh3/psmc.git
[submodule "vendor/msmc2"]
	path = vendor/msmc2
	url = https://github.com/stschiff/msmc2.git
[submodule "vendor/PSMCplus"]
	path = vendor/PSMCplus
	url = https://github.com/trevorcousins/PSMCplus.git
